 form{
    
     width: 590pxs;
     height: 400%;
     background-color: antiquewhite;
    border-radius:10PX ;
   
 }
       
        input{
         
          width:280px;
          height: 30px;
         border-radius:5PX;



}

     
        body{
       background-color: aquamarine;
              
       
        }      

